.card {
  background-color: #ffffff;
  width: 324px;
  height: 414px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 71px;
}

.card-img {
  height: 324px;
  width: 324px;
}

.card-head {
  font-family: Pretendard;
  font-size: 32px;
  font-weight: 400;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.city-card {
  /* background-color: #ffffff; */
  width: 648px;
  height: 828px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
}

.city-card-img {
  height: 648px;
  width: 648px;
}

.city-card-head {
  font-family: Pretendard;
  font-size: 50px;
  font-weight: 400;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
}
