.Home {
  background-color: #232323;
  padding: 61px 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 47px;
  gap: 16px;
}
